body {
  box-sizing: border-box;
  margin: 0px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #10898d;
  padding: 5px;
}

.left_part > h2 {
  border: 2px solid black;
  padding: 5px !important;
}
.middle_part > input {
  padding: 10px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid black;
}
.middle_part > button {
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;

  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.right_part > button {
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.custom_card {
  width: 350px;
}
.container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  row-gap: 30px;
}
.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
}

.image:hover {
  transform: scale(1.05);
}
.container::after {
  content: "";
  width: 750px;
  display: block;
  clear: both;
  float: right;
}
@media screen and (max-width: 990px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .middle_part {
    width: 500px;
    display: flex;
    justify-content: center;
  }
  .middle_part input {
    width: 300px;
  }
}
.box {
  display: none;
  width: 200px;
  height: 200px;
  background-color: white;
  border: 20px solid grey;
  border-radius: 50%;
  margin: auto;
  border-top: 20px solid red;
  border-bottom: 20px solid red;
  animation: loader 2s linear Infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
